<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>State</string>
		<key>DisplayName</key>
		<string>Initial State</string>
		<key>itemType</key>
		<string>header</string>
		<key>checkValid</key>
		<true/>
		<key>items</key>
		<array>
			<dict>
				<key>ID</key>
				<string>absolute</string>
				<key>DisplayName</key>
				<string>Absolute</string>
				<key>itemType</key>
				<string>subHeader</string>
				<key>checkValid</key>
				<false/>
				<key>items</key>
				<array>
					<dict>
						<key>Symbol</key>
						<string>𝑋₀</string>
						<key>ID</key>
						<string>x</string>
						<key>DisplayName</key>
						<string>X pos</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>distance</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
					</dict>
					<dict>
						<key>ID</key>
						<string>y</string>
						<key>DisplayName</key>
						<string>Y pos</string>
						<key>Value</key>
						<integer>10</integer>
						<key>Units</key>
						<string>distance</string>
						<key>isParam</key>
						<true/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝑌₀</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>z</string>
						<key>DisplayName</key>
						<string>Z pos</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>distance</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝑍₀</string>
					</dict>
					<dict>
						<key>Symbol</key>
						<string>𝑑𝑋/𝑑𝑡₀</string>
						<key>ID</key>
						<string>dx</string>
						<key>DisplayName</key>
						<string>X vel</string>
						<key>Value</key>
						<integer>10</integer>
						<key>Units</key>
						<string>distance</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
					</dict>
					<dict>
						<key>ID</key>
						<string>dy</string>
						<key>DisplayName</key>
						<string>Y vel</string>
						<key>Value</key>
						<integer>10</integer>
						<key>Units</key>
						<string>distance</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝑑𝑌/𝑑𝑡₀</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>dz</string>
						<key>DisplayName</key>
						<string>Z vel</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>distance</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝑑𝑍/𝑑𝑡₀</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>ID</key>
				<string>Direction</string>
				<key>DisplayName</key>
				<string>Direction</string>
				<key>itemType</key>
				<string>subHeader</string>
				<key>checkValid</key>
				<false/>
				<key>items</key>
				<array>
					<dict>
						<key>ID</key>
						<string>R</string>
						<key>DisplayName</key>
						<string>Distance</string>
						<key>Value</key>
						<integer>10</integer>
						<key>Units</key>
						<string>distance</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝑅₀</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>V1</string>
						<key>DisplayName</key>
						<string>Velocity</string>
						<key>Value</key>
						<integer>10</integer>
						<key>Units</key>
						<string>distance</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝑉₀</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>posAz</string>
						<key>DisplayName</key>
						<string>Position azimuth</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>angle</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝛼</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>posEl</string>
						<key>DisplayName</key>
						<string>Position elevation</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>angle</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝜆</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>velAz</string>
						<key>DisplayName</key>
						<string>Velocity azimuth</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>angle</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝛼v</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>velEl</string>
						<key>DisplayName</key>
						<string>Velocity elevation</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>angle</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝜆v</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>ID</key>
				<string>Orbital</string>
				<key>DisplayName</key>
				<string>Orbital</string>
				<key>itemType</key>
				<string>subHeader</string>
				<key>checkValid</key>
				<false/>
				<key>items</key>
				<array>
					<dict>
						<key>ID</key>
						<string>a</string>
						<key>DisplayName</key>
						<string>Semi-major axis</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>distance</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝑎</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>e</string>
						<key>DisplayName</key>
						<string>Ecccentricity</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string></string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝑒</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>i</string>
						<key>DisplayName</key>
						<string>Inclination</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>angle</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝑖</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>om</string>
						<key>DisplayName</key>
						<string>Longitude of Ascending Node</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>angle</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝛺</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>w</string>
						<key>DisplayName</key>
						<string>Argument of perigee</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>angle</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝜔</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>th</string>
						<key>DisplayName</key>
						<string>True anomaly</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>angle</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝜽</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>ID</key>
				<string>Entry</string>
				<key>DisplayName</key>
				<string>Entry</string>
				<key>Value</key>
				<integer>0</integer>
				<key>Units</key>
				<string></string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>subHeader</string>
				<key>valueType</key>
				<string>file</string>
				<key>checkValid</key>
				<false/>
				<key>isValid</key>
				<string></string>
				<key>items</key>
				<array>
					<dict>
						<key>ID</key>
						<string>hangle</string>
						<key>DisplayName</key>
						<string>Heading angle</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>angle</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝜓</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>gamma</string>
						<key>DisplayName</key>
						<string>Flight path angle</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>angle</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝛾</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>h</string>
						<key>DisplayName</key>
						<string>Altitude</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>distance</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>ℎ</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>V2</string>
						<key>DisplayName</key>
						<string>Velocity</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>velocity</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝑉</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>lat</string>
						<key>DisplayName</key>
						<string>Latitude</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>angle</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝜑</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>lon</string>
						<key>DisplayName</key>
						<string>Longitude</string>
						<key>Value</key>
						<integer>0</integer>
						<key>Units</key>
						<string>angle</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>variable</string>
						<key>checkValid</key>
						<false/>
						<key>Symbol</key>
						<string>𝜆</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>ID</key>
		<string>BodyState</string>
		<key>DisplayName</key>
		<string>Initial body orientation</string>
		<key>itemType</key>
		<string>header</string>
		<key>checkValid</key>
		<true/>
		<key>items</key>
		<array>
			<dict>
				<key>ID</key>
				<string>B</string>
				<key>DisplayName</key>
				<string>Sideslip angle</string>
				<key>Value</key>
				<integer>0</integer>
				<key>Units</key>
				<string>angle</string>
				<key>isParam</key>
				<true/>
				<key>itemType</key>
				<string>variable</string>
				<key>checkValid</key>
				<false/>
				<key>Symbol</key>
				<string>𝛽</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>aoa</string>
				<key>DisplayName</key>
				<string>Angle-of-attack</string>
				<key>Value</key>
				<integer>0</integer>
				<key>Units</key>
				<string>angle</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>variable</string>
				<key>checkValid</key>
				<false/>
				<key>Symbol</key>
				<string>𝛼</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>roll</string>
				<key>DisplayName</key>
				<string>Roll angle</string>
				<key>Value</key>
				<integer>0</integer>
				<key>Units</key>
				<string>angle</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>variable</string>
				<key>checkValid</key>
				<false/>
				<key>Symbol</key>
				<string>𝜑</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>pitch</string>
				<key>DisplayName</key>
				<string>Pitch angle</string>
				<key>Value</key>
				<integer>0</integer>
				<key>Units</key>
				<string>angle</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>variable</string>
				<key>checkValid</key>
				<false/>
				<key>Symbol</key>
				<string>𝜃</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>yaw</string>
				<key>DisplayName</key>
				<string>Yaw angle</string>
				<key>Value</key>
				<integer>0</integer>
				<key>Units</key>
				<string>angle</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>variable</string>
				<key>checkValid</key>
				<false/>
				<key>Symbol</key>
				<string>𝜓</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>droll</string>
				<key>DisplayName</key>
				<string>Roll rate</string>
				<key>Value</key>
				<integer>0</integer>
				<key>Units</key>
				<string>angle/time</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>variable</string>
				<key>checkValid</key>
				<false/>
				<key>Symbol</key>
				<string>𝑑𝜑/𝑑𝑡</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>dpitch</string>
				<key>DisplayName</key>
				<string>Pitch rate</string>
				<key>Value</key>
				<integer>0</integer>
				<key>Units</key>
				<string>angle/time</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>variable</string>
				<key>checkValid</key>
				<false/>
				<key>Symbol</key>
				<string>𝑑𝜃/𝑑𝑡</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>dyaw</string>
				<key>DisplayName</key>
				<string>Yaw rate (𝑑𝜓/𝑑𝑡)</string>
				<key>Value</key>
				<integer>0</integer>
				<key>Units</key>
				<string>angle/time</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>variable</string>
				<key>checkValid</key>
				<false/>
				<key>Symbol</key>
				<string>𝑑𝜓/𝑑𝑡</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>bank</string>
				<key>DisplayName</key>
				<string>Bank angle</string>
				<key>Value</key>
				<integer>0</integer>
				<key>Units</key>
				<string>angle</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>variable</string>
				<key>checkValid</key>
				<false/>
				<key>Symbol</key>
				<string>𝜎</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
