<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>State</string>
		<key>name</key>
		<string>Initial State</string>
		<key>itemType</key>
		<string>header</string>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<string>absolute</string>
				<key>name</key>
				<string>Absolute</string>
				<key>itemType</key>
				<string>subHeader</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>x</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>y</string>
						<key>isParam</key>
						<true/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>z</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>dx</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>dy</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>dz</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>Direction</string>
				<key>name</key>
				<string>Direction</string>
				<key>itemType</key>
				<string>subHeader</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>r</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>azp</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>elp</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>azv</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>elv</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>Orbital</string>
				<key>name</key>
				<string>Orbital</string>
				<key>itemType</key>
				<string>subHeader</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>a</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>e</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>i</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>om</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>w</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>th</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>Entry</string>
				<key>name</key>
				<string>Entry</string>
				<key>itemType</key>
				<string>subHeader</string>
				<key>items</key>
				<array>
					<dict>
						<key>id</key>
						<string>hangle</string>
						<key>isParam</key>
						<true/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>gamma</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>h</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>lat</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
					<dict>
						<key>id</key>
						<string>lon</string>
						<key>isParam</key>
						<false/>
						<key>itemType</key>
						<string>var</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>BodyState</string>
		<key>name</key>
		<string>Initial body orientation</string>
		<key>itemType</key>
		<string>header</string>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>
				<string>b</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>var</string>
			</dict>
			<dict>
				<key>id</key>
				<string>alpha</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>var</string>
			</dict>
			<dict>
				<key>id</key>
				<string>roll</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>var</string>
			</dict>
			<dict>
				<key>id</key>
				<string>pitch</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>var</string>
			</dict>
			<dict>
				<key>id</key>
				<string>yaw</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>var</string>
			</dict>
			<dict>
				<key>id</key>
				<string>droll</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>var</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dpitch</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>var</string>
			</dict>
			<dict>
				<key>id</key>
				<string>dyaw</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>var</string>
			</dict>
			<dict>
				<key>id</key>
				<string>bank</string>
				<key>isParam</key>
				<false/>
				<key>itemType</key>
				<string>var</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
