<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>t</string>
		<key>name</key>
		<string>Time</string>
		<key>symbol</key>
		<string>𝑡</string>
		<key>units</key>
		<string>time</string>
	</dict>
	<dict>
		<key>id</key>
		<string>x</string>
		<key>name</key>
		<string>X pos</string>
		<key>symbol</key>
		<string>𝑋</string>
		<key>units</key>
		<string>distance</string>
	</dict>
	<dict>
		<key>id</key>
		<string>y</string>
		<key>name</key>
		<string>Y pos</string>
		<key>symbol</key>
		<string>𝑌</string>
		<key>units</key>
		<string>distance</string>
	</dict>
	<dict>
		<key>id</key>
		<string>z</string>
		<key>name</key>
		<string>Z pos</string>
		<key>symbol</key>
		<string>𝑍</string>
		<key>units</key>
		<string>distance</string>
	</dict>
	<dict>
		<key>id</key>
		<string>dx</string>
		<key>name</key>
		<string>X vel</string>
		<key>symbol</key>
		<string>𝑑𝑋/𝑑𝑡</string>
		<key>units</key>
		<string>velocity</string>
	</dict>
	<dict>
		<key>id</key>
		<string>dy</string>
		<key>name</key>
		<string>Y vel</string>
		<key>symbol</key>
		<string>𝑑𝑌/𝑑𝑡</string>
		<key>units</key>
		<string>velocity</string>
	</dict>
	<dict>
		<key>id</key>
		<string>dz</string>
		<key>name</key>
		<string>Z vel</string>
		<key>symbol</key>
		<string>𝑑𝑍/𝑑𝑡</string>
		<key>units</key>
		<string>velocity</string>
	</dict>
	<dict>
		<key>id</key>
		<string>v</string>
		<key>name</key>
		<string>Velocity</string>
		<key>symbol</key>
		<string>𝑉</string>
		<key>units</key>
		<string>velocity</string>
	</dict>
	<dict>
		<key>id</key>
		<string>r</string>
		<key>name</key>
		<string>Distance</string>
		<key>symbol</key>
		<string>𝑅</string>
		<key>units</key>
		<string>distance</string>
	</dict>
	<dict>
		<key>id</key>
		<string>azp</string>
		<key>name</key>
		<string>Azimuth (position)</string>
		<key>symbol</key>
		<string>𝛼</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>elp</string>
		<key>name</key>
		<string>Elevation (position)</string>
		<key>symbol</key>
		<string>𝜆</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>azv</string>
		<key>name</key>
		<string>Azimuth (velocity)</string>
		<key>symbol</key>
		<string>𝛼v</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>elv</string>
		<key>name</key>
		<string>Elevation (velocity)</string>
		<key>symbol</key>
		<string>𝜆v</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>sma</string>
		<key>name</key>
		<string>Semi-major axis</string>
		<key>symbol</key>
		<string>𝑎</string>
		<key>units</key>
		<string>distance</string>
	</dict>
	<dict>
		<key>id</key>
		<string>e</string>
		<key>name</key>
		<string>Eccentricity</string>
		<key>symbol</key>
		<string>𝑒</string>
		<key>units</key>
		<string>none</string>
	</dict>
	<dict>
		<key>id</key>
		<string>i</string>
		<key>name</key>
		<string>Inclination</string>
		<key>symbol</key>
		<string>𝑖</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>om</string>
		<key>name</key>
		<string>Longitude of Ascending Node</string>
		<key>symbol</key>
		<string>𝛺</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>w</string>
		<key>name</key>
		<string>Argument of Periapsis</string>
		<key>symbol</key>
		<string>𝜔</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>th</string>
		<key>name</key>
		<string>True anomaly</string>
		<key>symbol</key>
		<string>𝜽</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>hangle</string>
		<key>name</key>
		<string>Heading angle</string>
		<key>symbol</key>
		<string>𝜓</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>gamma</string>
		<key>name</key>
		<string>Flight-path angle</string>
		<key>symbol</key>
		<string>𝛾</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>h</string>
		<key>name</key>
		<string>altitude</string>
		<key>symbol</key>
		<string>ℎ</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>lat</string>
		<key>name</key>
		<string>Latitude</string>
		<key>symbol</key>
		<string>𝜑</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>lon</string>
		<key>name</key>
		<string>Longitude</string>
		<key>symbol</key>
		<string>𝜆</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>alpha</string>
		<key>name</key>
		<string>Angle-of-attack</string>
		<key>symbol</key>
		<string>𝛼</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>b</string>
		<key>name</key>
		<string>Sideslip angle</string>
		<key>symbol</key>
		<string>𝛽</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>bank</string>
		<key>name</key>
		<string>Bank angle</string>
		<key>symbol</key>
		<string>𝜎</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>roll</string>
		<key>name</key>
		<string>Roll angle</string>
		<key>symbol</key>
		<string>𝜑</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>pitch</string>
		<key>name</key>
		<string>Pitch angle</string>
		<key>symbol</key>
		<string>𝜃</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>yaw</string>
		<key>name</key>
		<string>Yaw angle</string>
		<key>symbol</key>
		<string>𝜓</string>
		<key>units</key>
		<string>angle</string>
	</dict>
	<dict>
		<key>id</key>
		<string>droll</string>
		<key>name</key>
		<string>Roll rate</string>
		<key>symbol</key>
		<string>𝑑𝜑/𝑑𝑡</string>
		<key>units</key>
		<string>angle/time</string>
	</dict>
	<dict>
		<key>id</key>
		<string>dpitch</string>
		<key>name</key>
		<string>Pitch rate</string>
		<key>symbol</key>
		<string>𝑑𝜃/𝑑𝑡</string>
		<key>units</key>
		<string>angle/time</string>
	</dict>
	<dict>
		<key>id</key>
		<string>dyaw</string>
		<key>name</key>
		<string>Yaw rate</string>
		<key>symbol</key>
		<string>𝑑𝜓/𝑑𝑡</string>
		<key>units</key>
		<string>angle/time</string>
	</dict>
	<dict>
		<key>id</key>
		<string>q0</string>
		<key>name</key>
		<string>Quaternion</string>
		<key>symbol</key>
		<string>𝑞₀</string>
		<key>units</key>
		<string>none</string>
	</dict>
	<dict>
		<key>id</key>
		<string>q1</string>
		<key>name</key>
		<string>Quaternion</string>
		<key>symbol</key>
		<string>𝑞₁</string>
		<key>units</key>
		<string>none</string>
	</dict>
	<dict>
		<key>id</key>
		<string>q2</string>
		<key>name</key>
		<string>Quaternion</string>
		<key>symbol</key>
		<string>𝑞₂</string>
		<key>units</key>
		<string>none</string>
	</dict>
	<dict>
		<key>id</key>
		<string>q3</string>
		<key>name</key>
		<string>Quaternion</string>
		<key>symbol</key>
		<string>𝑞₃</string>
		<key>units</key>
		<string>none</string>
	</dict>
	<dict>
		<key>id</key>
		<string>dq0</string>
		<key>name</key>
		<string>Quaternion</string>
		<key>symbol</key>
		<string>𝑑𝑞₀</string>
		<key>units</key>
		<string>none</string>
	</dict>
	<dict>
		<key>id</key>
		<string>dq1</string>
		<key>name</key>
		<string>Quaternion</string>
		<key>symbol</key>
		<string>𝑑𝑞₁</string>
		<key>units</key>
		<string>none</string>
	</dict>
	<dict>
		<key>id</key>
		<string>dq2</string>
		<key>name</key>
		<string>Quaternion</string>
		<key>symbol</key>
		<string>𝑑𝑞₂</string>
		<key>units</key>
		<string>none</string>
	</dict>
	<dict>
		<key>id</key>
		<string>dq3</string>
		<key>name</key>
		<string>Quaternion</string>
		<key>symbol</key>
		<string>𝑑𝑞₃</string>
		<key>units</key>
		<string>none</string>
	</dict>
	<dict>
		<key>id</key>
		<string>mtot</string>
		<key>name</key>
		<string>Total mass</string>
		<key>symbol</key>
		<string>𝑚tot</string>
		<key>value</key>
		<integer>1</integer>
		<key>units</key>
		<string>mass</string>
	</dict>
	<dict>
		<key>id</key>
		<string>mdry</string>
		<key>name</key>
		<string>Dry mass</string>
		<key>symbol</key>
		<string>𝑚dry</string>
		<key>units</key>
		<string>mass</string>
	</dict>
	<dict>
		<key>id</key>
		<string>mprop</string>
		<key>name</key>
		<string>Propellant mass</string>
		<key>symbol</key>
		<string>𝑚prop</string>
		<key>units</key>
		<string>mass</string>
	</dict>
	<dict>
		<key>id</key>
		<string>pmf</string>
		<key>name</key>
		<string>Propellant Mass Fraction</string>
		<key>symbol</key>
		<string>𝑃𝑀𝐹</string>
		<key>units</key>
		<string>percent</string>
	</dict>
	<dict>
		<key>id</key>
		<string>ballcoef</string>
		<key>name</key>
		<string>Ballistic coefficient</string>
		<key>symbol</key>
		<string>𝛽</string>
		<key>units</key>
		<string>none</string>
	</dict>
	<dict>
		<key>id</key>
		<string>thrust</string>
		<key>name</key>
		<string>Thrust</string>
		<key>symbol</key>
		<string>𝑇</string>
		<key>units</key>
		<string>force</string>
	</dict>
	<dict>
		<key>id</key>
		<string>isp</string>
		<key>name</key>
		<string>Specific impulse</string>
		<key>symbol</key>
		<string>𝐼𝑆𝑃</string>
		<key>units</key>
		<string>time</string>
	</dict>
	<dict>
		<key>id</key>
		<string>cd</string>
		<key>name</key>
		<string>Drag coefficient</string>
		<key>symbol</key>
		<string>𝐶𝑑</string>
		<key>units</key>
		<string>none</string>
	</dict>
	<dict>
		<key>id</key>
		<string>cl</string>
		<key>name</key>
		<string>Lift coefficient</string>
		<key>symbol</key>
		<string>𝐶𝑙</string>
		<key>units</key>
		<string>none</string>
	</dict>
	<dict>
		<key>id</key>
		<string>lod</string>
		<key>name</key>
		<string>Lift-to-drag ration</string>
		<key>symbol</key>
		<string>𝐿/𝐷</string>
		<key>units</key>
		<string>none</string>
	</dict>
	<dict>
		<key>id</key>
		<string>aref</string>
		<key>name</key>
		<string>Reference area</string>
		<key>symbol</key>
		<string>𝐴𝑟𝑒𝑓</string>
		<key>units</key>
		<string>area</string>
	</dict>
	<dict>
		<key>id</key>
		<string>rn</string>
		<key>name</key>
		<string>Nose radius</string>
		<key>symbol</key>
		<string>𝑟𝑛</string>
		<key>units</key>
		<string>distance</string>
	</dict>
	<dict>
		<key>id</key>
		<string>a</string>
		<key>name</key>
		<string>acceleration</string>
		<key>symbol</key>
		<string>𝑎</string>
		<key>units</key>
		<string>acceleration</string>
	</dict>
</array>
</plist>
